body {
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    line-height: 24px;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    color: #4e4e4e;
}

html {
    scroll-behavior: smooth;
}

/* GLOBAL */
.container {
    width: 70%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;

}

a {
    color: #4e4e4e;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-link {
    color: #4e4e4e;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

section h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

hr {
    width: 75px;
    border-top: 5px solid #1e7274;
    margin-bottom: 50px;
}


/* NAVIGATION */
.navbar {
    background-color: #f7f7f7;
    color: #242424;
}

.navbar-toggler-icon {
    color: #242424;
}

.nav-link {
    color: #242424;
}

nav.white {}



/* HERO BOX */
#heroBox::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #393637;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .7;
}

#heroBox {
    position: relative;
}

#heroBox>* {
    z-index: 10;
    position: relative;
}

#heroBox {
    min-height: 700px;
    background-image: url('../assets/images/clement-h-95YRwf6CNw8-unsplash.jpg');
    background-size: cover;
    background-position: 0, 50px;
    text-align: center;
    color: #ffffff;
}

#heroBox h1 {
    margin-top: 250px;
    font-size: 6rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

#heroBox h2 {
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    margin-bottom: 10px;
}



/* ABOUT */
#about {
    background-color: #ffffff;
    color: #242424;
}

#aboutSection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


#about-img {
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

#about-p {
    flex: 1;
}



/* SKILLS */
#skills {
    background-color: #f7f7f7;
}

#skillBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#skillBox h3 {
    font-size: 1rem;
    font-weight: 700;
}

.skill {
    width: 200px;
    text-align: center;
}

.skill h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    font-weight: 500;
    margin-top: 10px;
    text-transform: uppercase;
}



/* PORTFOLIO */
.image-container {
    position: relative;
    width: 350px;
}

.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
    text-align: center;
    padding-top: 95px;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

.image-container .after p {
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    font-weight: 500;
    margin-top: 10px;
    text-transform: uppercase;
}

.image-container .after a {
    color: #f7f7ff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.image-container:hover .after {
    display: block;
    background: rgba(30, 114, 116, .7);
}


.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image-container {
    margin-top: 10px;
}



/* CONTACT */
#contact {
    background-color: #f7f7f7;
    padding-bottom: 150px;
}

.icons {
    text-align: center;
}

.fab,
.fas {
    color: #1e7274;
    font-size: 3rem;
    margin-left: 50px;
    margin-right: 50px;
}